
<!-- Footer -->
<footer class="page-footer" role="contentinfo">
  <div class="row">
    <div class="footer-content">
      <a href="{{ paths.root }}" class="logo-simple">{{ app.config.get('general/sitename') }}</a>
      {% if app.config.get('general/payoff') %}
        <p class="tagline">{{ app.config.get('general/payoff') }}</p>
      {% endif %}
      <ul class="menu">
        {{ menu('footer', '_sub_menu.twig') }}
      </ul>
      <div class="socials">
        <a href="#" class="facebook">Like us on Facebook</a>
        <a href="#" class="twitter">Follow us on Twitter</a>
      </div>
    </div>
  </div>
</footer>

{# Bolt comes with Magnific Popup, as it's used in the backend. We can use it here, or you can
   just swap it out for the image-viewing script of your choice. Or delete it altogether. #}
<script src="{{ paths.app }}view/js/jquery.magnific-popup.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ paths.app }}view/css/magnific-popup.css">

<script src="{{ paths.theme }}js/app.js"></script>

</body>
</html>
