
<!-- Footer -->
<footer class="page-footer" role="contentinfo">
  <div class="row">
    <div class="footer-content">
      <a href="{{ paths.root }}" class="logo-simple">{{ app.config.get('general/sitename') }}</a>
      {% if app.config.get('general/payoff') %}
        <p class="tagline">{{ app.config.get('general/payoff') }}</p>
      {% endif %}
      <ul class="menu">
        {{ menu('footer', '_sub_menu.twig') }}
      </ul>
      <div class="socials">
        <a href="https://www.facebook.com/icestupa" class="facebook">Like us on Facebook</a>
        <a href="https://twitter.com/icestupa" class="twitter">Follow us on Twitter</a>
      </div>
    </div>
  </div>
</footer>

<script src="{{ paths.theme }}js/app.min.js"></script>

</body>
</html>
