{% include '_header.twig' %}

  <div class="row">
    <div class="main-content">
      {% if record.image!="" %}
      <div class="featured-image">
        <img src="{{ thumbnail(record.image, 655, 360) }}" alt="{{ record.title }}">
        <a href="{{ image(record.image) }}">View Full Image</a>
      </div>
      {% endif %}
      <h1 class="page-title">{{ record.title }}</h1>
      {{ record.body }}
    </div>
  </div>

{% include '_footer.twig' %}
