{% include '_header.twig' %}
  
  <div class="row">
    <div class="main-content">
      <h1 class="page-title">Project Photographs</h1>
      <ul class="menu photo-gallery">
        {% for record in records %}
          {% if record.image!="" %}
            <li>
              <a href="{{ image(record.image) }}" data-caption="{{ record.title }}">
                <img src="{{ thumbnail(record.image) }}" alt="{{ record.title }}">
                <span class="title">{{record.title}}</span>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      {{ pager() }}
    </div>
  </div>



{% include '_footer.twig' %}
