{% include '_header.twig' %}
  <div class="content-row">
    <div class="hero">
      <span class="logo">{{ app.config.get('general/sitename') }}</span>
      {% if app.config.get('general/payoff') %}
        <span class="tagline">{{ app.config.get('general/payoff') }}</span>
      {% endif %}
    </div><!-- /.hero -->
  </div>

  <div class="row">
    <div class="main-content">
    {% if record is defined %}
      {% set home = record %}
      {% if home.title is defined and home.title is not empty %}
          <h1 class="page-title">{{ home.title }}</h1>
      {% endif %}
      {% if home.body is defined and home.body is not empty %}
          {{ home.body }}
      {% endif %}
    {% else %}
      <p>
        {{ __('Content for home not found! Check the config, and the publish status') }}
      </p>
    {% endif %}
    </div><!-- /.main-content -->
  </div>



{% include '_footer.twig' %}
