{% include '_header.twig' %}

  <div class="row">
    <div class="main-content">
      <div class="page-icon">
        <img src="{{ paths.theme ~ 'images/' }}pageicon-prayer-wheel.png" alt="Prayer Wheel">
      </div>
      <h1 class="page-title">Latest News</h1>
      <div class="news-list">
      {% for record in records %}
        <article class="news-item">
          <h2><a href="{{ record.link }}">{{ record.title }}</a></h2>
          <p>
            {{ record.excerpt(105) }}
            <a href="{{ record.link }}" class="more-link">Read More</a>
          </p>
          <div class="thumb">
            {% if record.image!="" %}<img src="{{ thumbnail(record.image, 90, 90) }}" alt="{{ record.title }}">{% endif %}
          </div>
        </article>
      {% endfor %}
      </div>
      {{ pager() }}
    </div>
  </div>

{% include '_footer.twig' %}
